pytest
pytest-snapshot
deepdiff
pillow
openai
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
torch
streamlit
bitsandbytes
accelerate
# install manually: pip install flash-attn --no-build-isolation
fastapi[standard]
